    <div class="container-fluid">
        <div class="main-container">
      <div class="pageNewHeading">
          <div class="margin-top" *ngFor="let field of fields;"  >
            <div *ngIf="field && field.type==='object'"  >
                  <h3  dynamicField [field]="field" ></h3>
                </div>
            </div>
            </div>
               
                  <div class="col-md-12">
              <form class="dynamic-form" [formGroup]="form" (submit)="onSubmit($event)" >
                <div *ngFor="let field of fields;" >
                  <ng-container *ngIf="field && field.type!=='object'" dynamicField [group]="form" [field]="field" >
                  </ng-container>
                </div>
              </form>

            </div>
              </div>
          </div>
