    <div class="login-block-width">
        <div class="login-block">
      <div class="login-header">
          <div *ngFor="let field of fields;" class="col-md-12" >
            <div *ngIf="field && field.type==='object'"  >
                  <ng-container  dynamicField [field]="field" ></ng-container>
                </div>
            </div>
            </div>
               
                  <div class="col-md-12">
              <form class="dynamic-form" [formGroup]="form" (submit)="onSubmit($event)" >
                <div *ngFor="let field of fields;" >
                  <ng-container *ngIf="field && field.type!=='object'" dynamicField [group]="form" [field]="field" >
                  </ng-container>
                </div>
              </form>

            </div>
              </div>
          </div>
